In [ ]:
from time import time
from pyspark import SparkContext
for j in range(1,10):
    sc = SparkContext(master=f'local[{j}]')
    t0 = time()
    for i in range(10):
        sc.parallelize([1,2] * 1000000).reduce(lambda x,y:x+y)
    print(f'{j} executors, time= {time() - t0}')
    sc.stop()

In [2]:
from time import time
from geopy.geocoders import GoogleV3
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col, collect_list, concat, lit, regexp_replace, round, split, struct, udf, UserDefinedFunction
from pyspark.sql.types import StringType, IntegerType, FloatType, ArrayType, StructType, StructField

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import StringType,IntegerType
from pyspark.sql.functions import collect_list, split, regexp_replace, col, round,concat,lit,avg

In [ ]:
spark = SparkSession.builder.master("local[*]").appName('explore').getOrCreate()
explore = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/cn.txt')

In [ ]:
#remove unwanted columns
explore = explore.drop(col("CAND_ST1"))
explore = explore.drop(col("CAND_ST2"))
explore = explore.drop(col("CAND_ZIP"))
explore = explore.drop(col("CAND_CITY"))
explore = explore.drop(col("CAND_ST"))
explore = explore.drop(col("CAND_STATUS"))

explore.createOrReplaceTempView("explore")

In [6]:
explore = spark.sql(""" SELECT CAND_ID, CAND_NAME, (CASE WHEN e.CAND_PTY_AFFILIATION IS NULL THEN "-" ELSE e.CAND_PTY_AFFILIATION END) 
AS CAND_PTY_AFFILIATION, (CASE WHEN e.CAND_ELECTION_YR IS NULL THEN "-" ELSE e.CAND_ELECTION_YR END) AS CAND_ELECTION_YR, 
(CASE WHEN e.CAND_OFFICE_ST IS NULL THEN "-" ELSE e.CAND_OFFICE_ST END) AS CAND_OFFICE_ST, 
(CASE WHEN e.CAND_OFFICE IS NULL THEN "-" ELSE e.CAND_OFFICE END) AS CAND_OFFICE, 
(CASE WHEN e.CAND_ICI IS NULL THEN "-" ELSE e.CAND_ICI END) AS CAND_ICI, 
(CASE WHEN e.CAND_PCC IS NULL THEN "-" ELSE e.CAND_PCC END) AS CAND_PCC, 
(CASE WHEN e.CAND_OFFICE_DISTRICT IS NULL THEN "-" WHEN e.CAND_OFFICE_DISTRICT = "0" THEN "-" 
ELSE e.CAND_OFFICE_DISTRICT END) AS CAND_OFFICE_DISTRICT
from explore e""")

explore.createOrReplaceTempView("explore")

In [ ]:
explore = spark.sql("""
SELECT (CAND_OFFICE || CAND_OFFICE_ST || CAND_OFFICE_DISTRICT) AS CID, CAND_ID, CAND_NAME,CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC
FROM explore
GROUP BY CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC
""")

explore.createOrReplaceTempView("explore")

In [ ]:
uniqueCID = spark.sql("""
SELECT DISTINCT CID
FROM explore
""")

ftable = spark.sql("""
SELECT CID, CAND_ID, CAND_NAME, CAND_ICI, CAND_PTY_AFFILIATION, CAND_OFFICE, CAND_OFFICE_ST, CAND_OFFICE_DISTRICT, CAND_ELECTION_YR, CAND_PCC
FROM explore
""")

# With an outer equi-join by (ID, NAME), we nest one or more rows of columns for each distinct candidate using the struct type
filtertbl = uniqueCID.join(
    ftable
        .groupBy("CID")
        .agg(collect_list(struct(ftable.CAND_ID, ftable.CAND_NAME, ftable.CAND_ICI, ftable.CAND_OFFICE, ftable.CAND_OFFICE_ST, ftable.CAND_OFFICE_DISTRICT, ftable.CAND_ELECTION_YR, ftable.CAND_PCC)).alias("candidate"))
    , "CID"
    , "outer"
)

filtertbl.printSchema()

In [5]:
from geopy.geocoders       import GoogleV3
from pyspark.sql.functions import col, udf
from pyspark.sql.types     import FloatType, ArrayType

In [8]:
geolocator = GoogleV3(api_key="AIzaSyC0GaU8jaB9fesUuG7sAQz07g-R5ZRBP7Q")

dick = { 'AL':'Alabama', 'AK':'Alaska', 'AR':'Arizona', 'AR':'Arkansas', 'AS':'American Samoa',
        'CA':'California', 'CO':'Colorado', 'CT':'Connecticut', 'DE':'Delaware', 'DC':'District of Columbia',
        'FL':'Florida', 'GA':'Georgia', 'GU':'Guam', 'HI':'Hawaii', 'ID':'Idaho',
        'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky',
        'LA':'Louisiana', 'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan',
        'MN':'Minnesota', 'MS':'Mississippi', 'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska',
        'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NY':'New York',
        'NC':'North Carolina', 'ND':'North Dakota', 'MP':'Northern Mariana Islands', 'OH':'Ohio', 'OK':'Oklahoma',
        'OR':'Oregon', 'PA':'Pennsylvania', 'PR':'Puerto Rico', 'RI':'Rhode Island', 'SC':'South Carolina',
        'SD':'South Dakota', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont',
        'VA':'Virginia', 'VI':'Virgin Islands', 'WA':'Washington', 'WV':'West Virginia', 'WI':'Wisconsin',
        'WT':'Wyoming' }


for i in dick:
    location = geolocator.geocode(dick[i])
    dick[i] = str((location.latitude, location.longitude))

def convert_state(s):
    return dick.get(s, s)

conv_state = UserDefinedFunction(lambda s : convert_state(s), StringType())
spark.udf.register("convert_state", conv_state)

explore = explore.withColumn('e', conv_state('CAND_OFFICE_ST'))

In [11]:
explore.createOrReplaceTempView("explore")

In [46]:
explore.coalesce(1).write.format('json').save('dorathesisepuede')

In [13]:
filtertbl.coalesce(1).write.format('json').save('explorefiltered')

In [ ]:
senate = spark.sql(""" SELECT * FROM explore WHERE CAND_OFFICE = "S" """)

senate = senate.na.fill(value=0,subset=["CAND_OFFICE_DISTRICT"])
senate = senate.na.fill(value="-",subset=["CAND_PCC"])
senate = senate.na.fill(value="-",subset=["CAND_PTY_AFFILIATION"])
senate.createOrReplaceTempView("senate")

senate = spark.sql("""
SELECT (CAND_ELECTION_YR || CAND_OFFICE || CAND_OFFICE_ST || CAND_OFFICE_DISTRICT) AS CID, CAND_ID, CAND_NAME,CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC
FROM senate
GROUP BY CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC

""")
senate.createOrReplaceTempView("senate")

In [ ]:
house = spark.sql(""" SELECT * FROM explore WHERE CAND_OFFICE = "H" """)

house = house.na.fill(value=0,subset=["CAND_OFFICE_DISTRICT"])
house = house.na.fill(value="-",subset=["CAND_PCC"])
house = house.na.fill(value="-",subset=["CAND_PTY_AFFILIATION"])
house.createOrReplaceTempView("house")

house = spark.sql("""
SELECT (CAND_ELECTION_YR || CAND_OFFICE || CAND_OFFICE_ST || CAND_OFFICE_DISTRICT) AS CID, CAND_ID, CAND_NAME,CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC
FROM house
GROUP BY CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC

""")
house.createOrReplaceTempView("house")

In [ ]:
pres = spark.sql(""" SELECT * FROM explore WHERE CAND_OFFICE = "P" """)

pres = pres.na.fill(value=0,subset=["CAND_OFFICE_DISTRICT"])
pres = pres.na.fill(value="-",subset=["CAND_PCC"])
pres = pres.na.fill(value="-",subset=["CAND_PTY_AFFILIATION"])
pres.createOrReplaceTempView("pres")

pres = spark.sql("""
SELECT (CAND_ELECTION_YR || CAND_OFFICE || CAND_OFFICE_ST || CAND_OFFICE_DISTRICT) AS CID, CAND_ID, CAND_NAME,CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC
FROM pres
GROUP BY CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_ICI, CAND_ELECTION_YR, CAND_OFFICE_ST, CAND_OFFICE, CAND_OFFICE_DISTRICT, CAND_PCC

""")
pres.createOrReplaceTempView("pres")

In [ ]:
n = senate.unionAll(pres)
companal = n.unionAll(house)

In [17]:
companal.createOrReplaceTempView("companal")

In [ ]:
from time import time
from geopy.geocoders import GoogleV3
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col, collect_list, concat, lit, regexp_replace, round, split, struct, udf, UserDefinedFunction
from pyspark.sql.types import StringType, IntegerType, FloatType, ArrayType, StructType, StructField

spark = SparkSession.builder.master("local[*]").appName('analytics-tables').getOrCreate()

allIndivSchema = StructType([
    StructField("CMTE_ID", StringType(), False),
    StructField("AMNDT_IND", StringType(), True),
    StructField("RPT_TP", StringType(), True),
    StructField("TRANSACTION_PGI", StringType(), True),
    StructField("IMAGE_NUM", StringType(), True),
    StructField("TRANSACTION_TP", StringType(), True),
    StructField("ENTITY_TP", StringType(), True),
    StructField("NAME", StringType(), True),
    StructField("CITY", StringType(), True),
    StructField("STATE", StringType(), True),
    StructField("ZIP_CODE", StringType(), True),
    StructField("EMPLOYER", StringType(), True),
    StructField("OCCUPATION", StringType(), True),
    StructField("TRANSACTION_DT", IntegerType(), True),
    StructField("TRANSACTION_AMT", IntegerType(), True),
    StructField("OTHER_ID", StringType(), True),
    StructField("TRAN_ID", StringType(), True),
    StructField("FILE_NUM", IntegerType(), True),
    StructField("MEMO_CD", StringType(), True),
    StructField("MEMO_TEXT", StringType(), True),
    StructField("SUB_ID", StringType(), True)
])

allIndiv = spark.read.format("csv").options(delimiter='|',header='true').schema(allIndivSchema).load("data/indiv_cont/itcon*.txt")
allIndiv = allIndiv.drop("AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","NAME","CITY","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_TP","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID")
allIndiv.createOrReplaceTempView("allInd")

commToCand = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/itpas2.txt')
commToCand = commToCand.drop('CMTE_ID',"AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_TP","CAND_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID")
commToCand.createOrReplaceTempView("allCom")

candMaster = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/cn.txt')
candMaster = candMaster.drop("CAND_NAME","CAND_PTY_AFFILIATION","CAND_ELECTION_YR","CAND_OFFICE_ST","CAND_OFFICE","CAND_OFFICE_DISTRICT","CAND_ICI","CAND_STATUS","CAND_ST1","CAND_ST2","CAND_CITY","CAND_ST","CAND_ZIP")
candMaster.createOrReplaceTempView("candMast")

comMaster = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/cm.txt')
comMaster = comMaster.drop("CMTE_NM","TRES_NM","CMTE_ST1","CMTE_ST2","CMTE_CITY","CMTE_ST","CMTE_ZIP","CMTE_DSGN","CMTE_TP","CMTE_PTY_AFFILIATION","CMTE_FILING_FREQ","ORG_TP","CONNECTED_ORG_NM")
comMaster.createOrReplaceTempView("comMast")

print(allIndiv.dtypes)
print(commToCand.dtypes)
print(candMaster.dtypes)
print(comMaster.dtypes)

In [ ]:
geolocator = GoogleV3(api_key="AIzaSyC0GaU8jaB9fesUuG7sAQz07g-R5ZRBP7Q")

dick = { 'AL':'Alabama', 'AK':'Alaska', 'AR':'Arizona', 'AR':'Arkansas', 'AS':'American Samoa',
        'CA':'California', 'CO':'Colorado', 'CT':'Connecticut', 'DE':'Delaware', 'DC':'District of Columbia',
        'FL':'Florida', 'GA':'Georgia', 'GU':'Guam', 'HI':'Hawaii', 'ID':'Idaho',
        'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky',
        'LA':'Louisiana', 'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan',
        'MN':'Minnesota', 'MS':'Mississippi', 'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska',
        'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NY':'New York',
        'NC':'North Carolina', 'ND':'North Dakota', 'MP':'Northern Mariana Islands', 'OH':'Ohio', 'OK':'Oklahoma',
        'OR':'Oregon', 'PA':'Pennsylvania', 'PR':'Puerto Rico', 'RI':'Rhode Island', 'SC':'South Carolina',
        'SD':'South Dakota', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont',
        'VA':'Virginia', 'VI':'Virgin Islands', 'WA':'Washington', 'WV':'West Virginia', 'WI':'Wisconsin',
        'WT':'Wyoming' }

for i in dick:
    location = geolocator.geocode(dick[i])
    dick[i] = str((location.latitude, location.longitude))

def convert_state(s):
    return dick.get(s, s)

conv_state = UserDefinedFunction(lambda s : convert_state(s), StringType())
spark.udf.register("convert_state", conv_state)

stateTableALL = spark.sql("""
SELECT stateIND.CAND_ID AS ID, stateIND.STATE,
    convert_state(stateIND.STATE) AS COORD,
    (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END)+
    (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS TOTAL,
    (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END) AS INDIVIDUAL,
    (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS COMMITTEE
FROM (    
    SELECT candMast.CAND_ID,
        (CASE WHEN allInd.STATE IS NULL THEN "--" ELSE allInd.STATE END) AS STATE,
        SUM(allInd.TRANSACTION_AMT) AS TOTAL_AMT_IND
    FROM allInd, candMast, comMast
    WHERE comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allInd.CMTE_ID OR comMast.CAND_ID=allInd.CMTE_ID) AND (allInd.ENTITY_TP="CAN" OR allInd.ENTITY_TP="IND")
    GROUP BY candMast.CAND_ID, STATE
    ) AS stateIND
FULL JOIN (
    SELECT candMast.CAND_ID,
        (CASE WHEN allCom.STATE IS NULL THEN "--" ELSE allCom.STATE END) AS STATE,
        SUM(allCom.TRANSACTION_AMT) AS TOTAL_AMT_COM
    FROM allCom, candMast, comMast
    WHERE comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allCom.OTHER_ID OR comMast.CAND_ID=allCom.OTHER_ID)
    GROUP BY candMast.CAND_ID, STATE
    ) AS stateCOM
WHERE stateIND.CAND_ID=stateCOM.CAND_ID AND stateIND.STATE=stateCOM.STATE
ORDER BY ID, TOTAL DESC
""")
stateTableALL.createOrReplaceTempView("stateTablePre")
type(stateTableALL)
stateTableALL.printSchema()

In [ ]:
dtable = stateTableALL.drop("STATE", "COORD", "TOTAL")
dtable.printSchema()

In [23]:
dtable.createOrReplaceTempView("dtable")

In [24]:
combined = spark.sql(""" SELECT * FROM companal a, dtable d WHERE a.CAND_ID = d.ID """)

In [25]:
combined = combined.drop("ID", "CAND_ELECTION_YR", "CAND_OFFICE_ST", "CAND_OFFICE", "CAND_OFFICE_DISTRICT")

In [ ]:
combined.printSchema()
combined.createOrReplaceTempView("combined")
combined = spark.sql(""" SELECT CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_PCC, CAND_ICI, SUM(INDIVIDUAL) AS INDIV, SUM(COMMITTEE) AS COMMIE FROM combined GROUP BY CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, CAND_ICI, CAND_PCC  """)

In [ ]:
combined.createOrReplaceTempView("combined")

In [ ]:
uniqueCID = spark.sql("""
SELECT DISTINCT CID
FROM combined
""")

ftable = spark.sql("""
SELECT CID, CAND_ID, CAND_NAME, CAND_PTY_AFFILIATION, INDIV, COMMIE, CAND_PCC, CAND_ICI
FROM combined
""")

# With an outer equi-join by (ID, NAME), we nest one or more rows of (STATE, TOTAL, INDIVIDUAL, COMMITTEE) columns for each distinct candidate using the struct type
finalTable = uniqueCID.join(
    ftable
        .groupBy("CID")
        .agg(collect_list(struct(ftable.CAND_ID, ftable.CAND_NAME, ftable.CAND_PTY_AFFILIATION, ftable.INDIV, ftable.COMMIE, ftable.CAND_PCC, ftable.CAND_ICI)).alias("competitors"))
    , "CID"
    , "outer"
)

finalTable.printSchema()

In [ ]:
finalTable.coalesce(1).write.format('json').save('anal_competition')