In [2]:
from time import time
from geopy.geocoders import GoogleV3
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col, collect_list, concat, lit, regexp_replace, round, split, struct, udf, UserDefinedFunction
from pyspark.sql.types import StringType, IntegerType, FloatType, ArrayType, StructType, StructField

for j in range(1,10):
    sc = SparkContext(master=f'local[{j}]')
    t0 = time()
    for i in range(10):
        sc.parallelize([1,2] * 1000000).reduce(lambda x,y:x+y)
    print(f'{j} executors, time= {time() - t0}')
    sc.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/01 01:33:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/12/01 01:33:07 WARN TaskSetManager: Stage 0 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:09 WARN TaskSetManager: Stage 1 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:09 WARN TaskSetManager: Stage 2 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:10 WARN TaskSetManager: Stage 3 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:11 WARN TaskSetManager: Stage 4 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:11 WARN TaskSetManager: Stage 5 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:12 WARN TaskSetManager: Stage 6 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:12 WARN TaskSetManager: Stage 7 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:13 WARN TaskSetManager: Stage 8 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:14 WARN TaskSetManager: Stage 9 contains a task of very large size (3964 KiB). The maximum recommended task size is 1000 KiB.
1 executors, time= 7.798341274261475
22/12/01 01:33:15 WARN TaskSetManager: Stage 0 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:16 WARN TaskSetManager: Stage 1 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:17 WARN TaskSetManager: Stage 2 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:17 WARN TaskSetManager: Stage 3 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:18 WARN TaskSetManager: Stage 4 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:18 WARN TaskSetManager: Stage 5 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:19 WARN TaskSetManager: Stage 6 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:19 WARN TaskSetManager: Stage 7 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:20 WARN TaskSetManager: Stage 8 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:20 WARN TaskSetManager: Stage 9 contains a task of very large size (1985 KiB). The maximum recommended task size is 1000 KiB.
2 executors, time= 5.757989168167114
22/12/01 01:33:22 WARN TaskSetManager: Stage 0 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:23 WARN TaskSetManager: Stage 1 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:24 WARN TaskSetManager: Stage 2 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:24 WARN TaskSetManager: Stage 3 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:25 WARN TaskSetManager: Stage 4 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:25 WARN TaskSetManager: Stage 5 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:26 WARN TaskSetManager: Stage 6 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:27 WARN TaskSetManager: Stage 7 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.

22/12/01 01:33:28 WARN TaskSetManager: Stage 8 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
22/12/01 01:33:28 WARN TaskSetManager: Stage 9 contains a task of very large size (1324 KiB). The maximum recommended task size is 1000 KiB.
3 executors, time= 6.978494882583618

4 executors, time= 6.872924327850342

5 executors, time= 7.606982231140137

6 executors, time= 7.261057138442993

7 executors, time= 8.90510606765747

8 executors, time= 8.649485349655151

9 executors, time= 8.700912952423096

In [3]:
spark = SparkSession.builder.master("local[*]").appName('analytics-tables').getOrCreate()

allIndivSchema = StructType([
    StructField("CMTE_ID", StringType(), False),
    StructField("AMNDT_IND", StringType(), True),
    StructField("RPT_TP", StringType(), True),
    StructField("TRANSACTION_PGI", StringType(), True),
    StructField("IMAGE_NUM", StringType(), True),
    StructField("TRANSACTION_TP", StringType(), True),
    StructField("ENTITY_TP", StringType(), True),
    StructField("NAME", StringType(), True),
    StructField("CITY", StringType(), True),
    StructField("STATE", StringType(), True),
    StructField("ZIP_CODE", StringType(), True),
    StructField("EMPLOYER", StringType(), True),
    StructField("OCCUPATION", StringType(), True),
    StructField("TRANSACTION_DT", IntegerType(), True),
    StructField("TRANSACTION_AMT", IntegerType(), True),
    StructField("OTHER_ID", StringType(), True),
    StructField("TRAN_ID", StringType(), True),
    StructField("FILE_NUM", IntegerType(), True),
    StructField("MEMO_CD", StringType(), True),
    StructField("MEMO_TEXT", StringType(), True),
    StructField("SUB_ID", StringType(), True)
])

allIndiv = spark.read.format("csv").options(delimiter='|',header='true').schema(allIndivSchema).load("data/indiv_cont/itcon*.txt")
allIndiv = allIndiv.drop("AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","NAME","CITY","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_TP","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID")
allIndiv.createOrReplaceTempView("allInd")

commToCand = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/itpas2.txt')
commToCand = commToCand.drop('CMTE_ID',"AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_TP","CAND_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID")
commToCand.createOrReplaceTempView("allCom")

candMaster = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/cn.txt')
candMaster = candMaster.drop("CAND_NAME","CAND_PTY_AFFILIATION","CAND_ELECTION_YR","CAND_OFFICE_ST","CAND_OFFICE","CAND_OFFICE_DISTRICT","CAND_ICI","CAND_STATUS","CAND_ST1","CAND_ST2","CAND_CITY","CAND_ST","CAND_ZIP")
candMaster.createOrReplaceTempView("candMast")

comMaster = spark.read.format("csv").options(delimiter='|',inferschema='true',header='true').load('data/cm.txt')
comMaster = comMaster.drop("CMTE_NM","TRES_NM","CMTE_ST1","CMTE_ST2","CMTE_CITY","CMTE_ST","CMTE_ZIP","CMTE_DSGN","CMTE_TP","CMTE_PTY_AFFILIATION","CMTE_FILING_FREQ","ORG_TP","CONNECTED_ORG_NM")
comMaster.createOrReplaceTempView("comMast")

print(allIndiv.dtypes)
print(commToCand.dtypes)
print(candMaster.dtypes)
print(comMaster.dtypes)

[('CMTE_ID', 'string'), ('ENTITY_TP', 'string'), ('STATE', 'string'), ('TRANSACTION_AMT', 'int')]
[('STATE', 'string'), ('TRANSACTION_AMT', 'int'), ('OTHER_ID', 'string')]
[('CAND_ID', 'string'), ('CAND_PCC', 'string')]
[('CMTE_ID', 'string'), ('CAND_ID', 'string')]

In [4]:
# y = spark.sql("""
# SELECT candMast.CAND_ID AS ID,
#     (CASE WHEN allInd.STATE IS NULL THEN "--" ELSE allInd.STATE END) AS STATE,
#     SUM(allInd.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allInd, candMast
# WHERE candMast.CAND_PCC=allInd.CMTE_ID AND (allInd.ENTITY_TP="CAN" OR allInd.ENTITY_TP="IND")
# GROUP BY candMast.CAND_ID, STATE
# ORDER BY ID, TOTAL_AMT_IND DESC
# """)

# z = spark.sql("""
# SELECT candMast.CAND_ID AS ID,
#     (CASE WHEN allInd.STATE IS NULL THEN "--" ELSE allInd.STATE END) AS STATE,
#     SUM(allInd.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allInd, candMast, comMast
# WHERE comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allInd.CMTE_ID OR comMast.CAND_ID=allInd.CMTE_ID) AND (allInd.ENTITY_TP="CAN" OR allInd.ENTITY_TP="IND")
# GROUP BY candMast.CAND_ID, STATE
# ORDER BY ID, TOTAL_AMT_IND
# """)

# comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allCom.OTHER_ID OR comMast.CAND_ID=allCom.OTHER_ID)

# +---------+-----+-------------+
# |       ID|STATE|TOTAL_AMT_IND|
# +---------+-----+-------------+
# |H0AL01055|   AL|        24825|
# |H0AL01055|   VA|         4750|
# |H0AL01055|   DC|         4400|
# |H0AL01055|   TX|         4400|
# |H0AL01055|   CO|         1500|
# |H0AL01055|   MD|         1000|
# |H0AL01055|   FL|          500|
# |H0AL01055|   AZ|           10|
# |H0AL01055|   CA|           10|
# |H0AL02202|   AL|         7647|
# |H0AL02202|   --|          501|
# |H0AL05163|   AL|       551346|
# |H0AL05163|   FL|        65967|
# |H0AL05163|   CA|        55775|
# |H0AL05163|   NC|        47915|
# |H0AL05163|   TN|        38485|
# |H0AL05163|   TX|        27005|
# |H0AL05163|   GA|        23291|
# |H0AL05163|   WI|        12900|
# |H0AL05163|   PA|        11497|
# +---------+-----+-------------+
# only showing top 20 rows

# +---------+-----+-------------+
# |       ID|STATE|TOTAL_AMT_IND|
# +---------+-----+-------------+
# |H0AL01055|   AZ|           10|
# |H0AL01055|   CA|           10|
# |H0AL01055|   FL|          500|
# |H0AL01055|   MD|         1000|
# |H0AL01055|   CO|         1500|
# |H0AL01055|   TX|         4400|
# |H0AL01055|   DC|         4400|
# |H0AL01055|   VA|         4750|
# |H0AL01055|   AL|        24825|
# |H0AL02202|   --|          501|
# |H0AL02202|   AL|         7647|
# |H0AL07086|   PA|           25|
# |H0AL07086|   GA|          150|
# |H0AL07086|   TX|          250|
# |H0AL07086|   NJ|          250|
# |H0AL07086|   LA|          320|
# |H0AL07086|   AZ|          500|
# |H0AL07086|   SC|          505|
# |H0AL07086|   VI|          600|
# |H0AL07086|   PR|         1000|
# +---------+-----+-------------+
# only showing top 20 rows

In [5]:
# from geopy.geocoders       import GoogleV3
# from pyspark.sql.functions import udf
# from pyspark.sql.types     import FloatType, ArrayType

# geolocator = GoogleV3(api_key="AIzaSyC0GaU8jaB9fesUuG7sAQz07g-R5ZRBP7Q")

# stateTableAllCOM = spark.sql("""
# SELECT Y.CAND_ID,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allCom AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.OTHER_ID
# GROUP BY Y.CAND_ID, STATE
# ORDER BY Y.CAND_ID, TOTAL_AMT_IND DESC
# """)

# +---------+-----+-------------+
# |  CAND_ID|STATE|TOTAL_AMT_IND|
# +---------+-----+-------------+
# |H0AL01055|   AL|       415955|
# |H0AL01055|   VA|         1000|
# |H0AL02087|   AL|        -1000|
# |H0AL02202|   AL|         5000|
# |H0AL05163|   AL|       115607|
# |H0AL05163|   VA|         5000|
# |H0AL07086|   AL|      1286900|
# |H0AL07086|   DC|       166395|
# |H0AL07086|   NJ|         5000|
# |H0AL07086|   MD|         1156|
# |H0AL07086|   VA|          400|
# |H0AR01083|   AR|       436400|
# |H0AR01083|   DC|        33500|
# |H0AR01083|   VA|        24000|
# |H0AR01083|   TX|         2500|
# |H0AR01083|   GA|         2000|
# |H0AR03055|   AR|       643400|
# |H0AR03055|   DC|        66000|
# |H0AR03055|   VA|         6000|
# |H0AR03055|   AL|         3000|
# +---------+-----+-------------+
# only showing top 20 rows

# location = geolocator.geocode("Arkansas")
# print(location)
# result = str((location.latitude, location.longitude))
# print(result)


# location = geolocator.geocode("Arizona")
# print(location)
# result = str((location.latitude, location.longitude))
# print(result)


# location = geolocator.geocode("Illinois")
# print(location)
# result = str((location.latitude, location.longitude))
# print(result)


# location = geolocator.geocode("Wyoming")
# print(location)
# result = str((location.latitude, location.longitude))
# print(result)

# dick = { 'AL':'Alabama', 'AK':'Alaska', 'AR':'Arizona', 'AR':'Arkansas', 'AS':'American Samoa',
#         'CA':'California', 'CO':'Colorado', 'CT':'Connecticut', 'DE':'Delaware', 'DC':'District of Columbia',
#         'FL':'Florida', 'GA':'Georgia', 'GU':'Guam', 'HI':'Hawaii', 'ID':'Idaho',
#         'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky',
#         'LA':'Louisiana', 'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan',
#         'MN':'Minnesota', 'MS':'Mississippi', 'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska',
#         'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NY':'New York',
#         'NC':'North Carolina', 'ND':'North Dakota', 'MP':'Northern Mariana Islands', 'OH':'Ohio', 'OK':'Oklahoma',
#         'OR':'Oregon', 'PA':'Pennsylvania', 'PR':'Puerto Rico', 'RI':'Rhode Island', 'SC':'South Carolina',
#         'SD':'South Dakota', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont',
#         'VA':'Virginia', 'VI':'Virgin Islands', 'WA':'Washington', 'WV':'West Virginia', 'WI':'Wisconsin',
#         'WT':'Wyoming' }

# for i in dick:
#     location = geolocator.geocode(dick[i])
#     dick[i] = str((location.latitude, location.longitude))

# def convert_state(s):
#     return dick.get(s, s)

# conv_state = UserDefinedFunction(lambda s : convert_state(s), StringType())
# spark.udf.register("convert_state", conv_state)

# stateTableAllCOM = stateTableAllCOM.withColumn('COORD', conv_state('STATE')).show()

# stateTableAllCOM = spark.sql("""
# SELECT Y.CAND_ID,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE convert_state(X.STATE) END) AS COORD
# FROM allCom AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.OTHER_ID
# GROUP BY Y.CAND_ID, STATE
# ORDER BY Y.CAND_ID, TOTAL_AMT_IND DESC
# """).show()

In [6]:
# Rank by total individual contributions by state for ONE valid candidate
# =========
# stateTableIND = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allInd AS X, candMast AS Y
# WHERE Y.CAND_ID="H0IA01174" AND Y.CAND_PCC=X.CMTE_ID AND (X.ENTITY_TP="CAN" OR X.ENTITY_TP="IND")
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# ORDER BY Y.CAND_ID, Y.CAND_NAME, TOTAL_AMT_IND DESC
# """).show()

# Rank by total committee contributions by state for ONE valid candidate
# =========
# stateTableCOM = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allCom AS X, candMast AS Y
# WHERE Y.CAND_ID="H0IA01174" AND Y.CAND_PCC=X.OTHER_ID
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# ORDER BY Y.CAND_ID, Y.CAND_NAME, TOTAL_AMT_IND DESC
# """).show()

# Rank by total individual/committee/individual+committee contributions by state for ONE valid candidate
# =========
# stateTableALL = spark.sql("""
# SELECT stateIND.CAND_ID AS ID, stateIND.CAND_NAME AS NAME, stateIND.STATE,
#     (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END)+
#     (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS TOTAL,
#     (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END) AS INDIVIDUAL,
#     (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS COMMITTEE
# FROM (
#     SELECT Y.CAND_ID, Y.CAND_NAME,
#         (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#         SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
#     FROM allInd AS X, candMast AS Y
#     WHERE Y.CAND_ID="H0IA01174" AND Y.CAND_PCC=X.CMTE_ID AND (X.ENTITY_TP="CAN" OR X.ENTITY_TP="IND")
#     GROUP BY Y.CAND_ID, Y.CAND_NAME, X.STATE
#     ) AS stateIND
# FULL JOIN (
#     SELECT Y.CAND_ID, Y.CAND_NAME,
#         (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#         SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_COM
#     FROM allCom AS X, candMast AS Y
#     WHERE Y.CAND_ID="H0IA01174" AND Y.CAND_PCC=X.OTHER_ID
#     GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
#     ) AS stateCOM
# WHERE stateIND.STATE=stateCOM.STATE
# ORDER BY ID, TOTAL DESC
# """).show()

# Rank by total individual contributions by state for ALL valid candidates
# =========
# stateTableAllIND = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allInd AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.CMTE_ID AND (X.ENTITY_TP="CAN" OR X.ENTITY_TP="IND") AND Y.CAND_ID IS NOT NULL
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# ORDER BY Y.CAND_ID, Y.CAND_NAME, TOTAL_AMT_IND DESC
# """).show()

# Rank by total committee contributions by state for ALL valid candidates
# =========
# stateTableAllCOM = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allCom AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.OTHER_ID
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# ORDER BY Y.CAND_ID, Y.CAND_NAME, TOTAL_AMT_IND DESC
# """).show()

In [7]:
# Rank by total individual/committee/individual+committee contributions by state for ONE valid candidate (same as next chunk but split)
# ========

# stateTableAllIND = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_IND
# FROM allInd AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.CMTE_ID AND (X.ENTITY_TP="CAN" OR X.ENTITY_TP="IND")
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# """)

# stateTableAllCOM = spark.sql("""
# SELECT Y.CAND_ID, Y.CAND_NAME,
#     (CASE WHEN X.STATE IS NULL THEN "--" ELSE X.STATE END) AS STATE,
#     SUM(X.TRANSACTION_AMT) AS TOTAL_AMT_COM
# FROM allCom AS X, candMast AS Y
# WHERE Y.CAND_PCC=X.OTHER_ID
# GROUP BY Y.CAND_ID, Y.CAND_NAME, STATE
# """)

# stateTableAllIND.createOrReplaceTempView("stateIND")
# stateTableAllCOM.createOrReplaceTempView("stateCOM")

# stateALL = spark.sql("""
# SELECT stateIND.CAND_ID AS ID, stateIND.CAND_NAME AS NAME, stateIND.STATE,
#     (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END)+
#     (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS TOTAL,
#     (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END) AS INDIVIDUAL,
#     (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS COMMITTEE
# FROM stateIND, stateCOM
# WHERE stateIND.CAND_ID=stateCOM.CAND_ID AND stateIND.STATE=stateCOM.STATE
# ORDER BY ID, TOTAL DESC
# """)

# stateALL.show()
# type(stateALL)

In [8]:
# root
#  |-- ID: string (nullable = true)
#  |-- donateTable: array (nullable = true)
#  |    |-- element: struct (containsNull = false)
#  |    |    |-- INDIVIDUAL: string (nullable = true)
#  |    |    |-- CITY: string (nullable = true)
#  |    |    |-- STATE: string (nullable = true)
#  |    |    |-- ZIP_CODE: string (nullable = true)
#  |    |    |-- OCCUPATION: string (nullable = true)
#  |    |    |-- TOTAL_MONEY_DONATED: long (nullable = true)

# Dick = {}
# for x in data:
#     for donateTableElement in x["donateTable"]:
#         zipcode = donateTableElement["ZIP_CODE"]
#         if zipcode not in Dick:
#             if zipcode == "":
#                 Dick[zipcode] = "-"
#             else:
#                 location = geolocator.geocode(zipcode)
#                 Dick[zipcode] = str((location.latitude, location.longitude))

In [9]:
geolocator = GoogleV3(api_key="AIzaSyC0GaU8jaB9fesUuG7sAQz07g-R5ZRBP7Q")

dick = { 'AL':'Alabama', 'AK':'Alaska', 'AR':'Arizona', 'AR':'Arkansas', 'AS':'American Samoa',
        'CA':'California', 'CO':'Colorado', 'CT':'Connecticut', 'DE':'Delaware', 'DC':'District of Columbia',
        'FL':'Florida', 'GA':'Georgia', 'GU':'Guam', 'HI':'Hawaii', 'ID':'Idaho',
        'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky',
        'LA':'Louisiana', 'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan',
        'MN':'Minnesota', 'MS':'Mississippi', 'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska',
        'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NY':'New York',
        'NC':'North Carolina', 'ND':'North Dakota', 'MP':'Northern Mariana Islands', 'OH':'Ohio', 'OK':'Oklahoma',
        'OR':'Oregon', 'PA':'Pennsylvania', 'PR':'Puerto Rico', 'RI':'Rhode Island', 'SC':'South Carolina',
        'SD':'South Dakota', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont',
        'VA':'Virginia', 'VI':'Virgin Islands', 'WA':'Washington', 'WV':'West Virginia', 'WI':'Wisconsin',
        'WT':'Wyoming' }

# Arizona, Arkansas, Illinois, Wyoming

for i in dick:
    location = geolocator.geocode(dick[i])
    dick[i] = str((location.latitude, location.longitude))

def convert_state(s):
    return dick.get(s, s)

conv_state = UserDefinedFunction(lambda s : convert_state(s), StringType())
spark.udf.register("convert_state", conv_state)

# Rank by total individual/committee/individual+committee contributions by state for ONE valid candidate
# ========
stateTableALL = spark.sql("""
SELECT stateIND.CAND_ID AS ID, stateIND.STATE,
    convert_state(stateIND.STATE) AS COORD,
    (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END)+
    (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS TOTAL,
    (CASE WHEN stateIND.TOTAL_AMT_IND IS NULL THEN 0 ELSE stateIND.TOTAL_AMT_IND END) AS INDIVIDUAL,
    (CASE WHEN stateCOM.TOTAL_AMT_COM IS NULL THEN 0 ELSE stateCOM.TOTAL_AMT_COM END) AS COMMITTEE
FROM (    
    SELECT candMast.CAND_ID,
        (CASE WHEN allInd.STATE IS NULL THEN "--" ELSE allInd.STATE END) AS STATE,
        SUM(allInd.TRANSACTION_AMT) AS TOTAL_AMT_IND
    FROM allInd, candMast, comMast
    WHERE comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allInd.CMTE_ID OR comMast.CAND_ID=allInd.CMTE_ID) AND (allInd.ENTITY_TP="CAN" OR allInd.ENTITY_TP="IND")
    GROUP BY candMast.CAND_ID, STATE
    ) AS stateIND
FULL JOIN (
    SELECT candMast.CAND_ID,
        (CASE WHEN allCom.STATE IS NULL THEN "--" ELSE allCom.STATE END) AS STATE,
        SUM(allCom.TRANSACTION_AMT) AS TOTAL_AMT_COM
    FROM allCom, candMast, comMast
    WHERE comMast.CAND_ID=candMast.CAND_ID AND (comMast.CMTE_ID=allCom.OTHER_ID OR comMast.CAND_ID=allCom.OTHER_ID)
    GROUP BY candMast.CAND_ID, STATE
    ) AS stateCOM
WHERE stateIND.CAND_ID=stateCOM.CAND_ID AND stateIND.STATE=stateCOM.STATE
ORDER BY ID, TOTAL DESC
""")
stateTableALL.createOrReplaceTempView("stateTablePre")
type(stateTableALL)
stateTableALL.printSchema()

root
 |-- ID: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COORD: string (nullable = true)
 |-- TOTAL: long (nullable = true)
 |-- INDIVIDUAL: long (nullable = true)
 |-- COMMITTEE: long (nullable = true)

In [10]:
# Only ID (distinct rows as KEYs for DynamoDB)
# ========
uniqueCandidateIdsAndNames = spark.sql("""
SELECT DISTINCT ID
FROM stateTablePre
""")

# Everything but NAME (ID for equi-join, the rest to populate the nested table)
noName = spark.sql("""
SELECT ID AS ID, STATE, COORD, TOTAL, INDIVIDUAL, COMMITTEE
FROM stateTablePre
""")

# With an outer equi-join by (ID, NAME), we nest one or more rows of (STATE, TOTAL, INDIVIDUAL, COMMITTEE) columns for each distinct candidate using the struct type
finalTable = uniqueCandidateIdsAndNames.join(
    noName
        .groupBy("ID")
        .agg(collect_list(struct(noName.STATE, noName.COORD, noName.TOTAL, 
                                 noName.INDIVIDUAL, noName.COMMITTEE)).alias("stateTable"))
    , "ID"
    , "outer"
)

finalTable.printSchema()

root
 |-- ID: string (nullable = true)
 |-- stateTable: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- STATE: string (nullable = true)
 |    |    |-- COORD: string (nullable = true)
 |    |    |-- TOTAL: long (nullable = true)
 |    |    |-- INDIVIDUAL: long (nullable = true)
 |    |    |-- COMMITTEE: long (nullable = true)

In [11]:
# finalTable.count()
# >>
# 1507

# finalTable.toJSON().first()
# >>
# '{"ID":"H0AL01055","stateTable":[{"STATE":"AL","TOTAL":440780,"INDIVIDUAL":24825,"COMMITTEE":415955},{"STATE":"VA","TOTAL":5750,"INDIVIDUAL":4750,"COMMITTEE":1000}]}'

# print(finalTable.tail(5))
# >>

# finalTable.show(10, False)
# >> 40 minutes bro
# +---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
# |ID       |stateTable                                                                                                                                                                                                                                       |
# +---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
# |H0AL01055|[{AL, 440780, 24825, 415955}, {VA, 5750, 4750, 1000}]                                                                                                                                                                                            |
# |H0AL02202|[{AL, 12647, 7647, 5000}]                                                                                                                                                                                                                        |
# |H0AL07086|[{AL, 1352020, 65120, 1286900}, {DC, 196905, 30510, 166395}, {CA, 56687, 49341, 7346}, {AZ, 28886, 500, 28386}, {MD, 12607, 11451, 1156}, {FL, 6086, 2250, 3836}, {NJ, 5250, 250, 5000}, {VA, 4650, 4250, 400}]                                  |
# |H0AR01083|[{AR, 630144, 193744, 436400}, {DC, 36000, 2500, 33500}, {VA, 27500, 3500, 24000}]                                                                                                                                                               |
# |H0AR03055|[{AR, 743755, 100355, 643400}, {DC, 79000, 13000, 66000}, {VA, 9500, 3500, 6000}, {AL, 4500, 1500, 3000}]                                                                                                                                        |
# |H0AZ01259|[{AZ, 149238, 97041, 52197}, {NV, 31999, 1999, 30000}, {NY, 18301, 17400, 901}, {IL, 17799, 30, 17769}, {WA, 7159, 6400, 759}, {CA, 5522, 4300, 1222}, {FL, 3255, 3005, 250}, {UT, 3250, 3000, 250}, {PA, 2750, 1500, 1250}, {VA, 690, 250, 440}]|
# |H0CA03078|[{CA, 864279, 162225, 702054}, {FL, 33820, 150, 33670}, {DC, 30098, 6550, 23548}, {IL, 10112, 10000, 112}, {NY, 4113, 4105, 8}]                                                                                                                  |
# |H0CA03128|[{CA, 147258, 132118, 15140}]                                                                                                                                                                                                                    |
# |H0CA06170|[{CA, 24534, 24034, 500}]                                                                                                                                                                                                                        |
# |H0CA07137|[{CA, 5025, 4950, 75}]                                                                                                                                                                                                                           |
# +---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
# only showing top 10 rows

In [ ]:
# finalTable.coalesce(1).write.format('json').save('out_analytics_state')